appdirs==1.4.4
attrs==19.3.0
cattrs==1.0.0
cdktf==0.0.12
certifi==2020.6.20
click==7.1.2
constructs==3.0.4
dataclasses==0.7
distlib==0.3.1
fastapi==0.60.1
filelock==3.0.12
h11==0.9.0
httptools==0.1.1
importlib-metadata==1.7.0
importlib-resources==3.0.0
jsii==1.9.0
pipenv==2020.6.2
publication==0.0.3
pydantic==1.6.1
python-dateutil==2.8.1
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.2
uvicorn==0.11.8
uvloop==0.14.0
virtualenv==20.0.29
virtualenv-clone==0.5.4
websockets==8.1
zipp==3.1.0
